UDM.Insurance.Interface/Service References/MercantileService/CDV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ebureau.mercantile.co.za/mpscdv/CDV.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/mpscdv" />
  <xs:element name="checkCDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userinst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/mpscdv" minOccurs="0" name="checkCDVResult" nillable="true" type="q1:cdvResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>